In [1]:
import matplotlib.pyplot as plt
import numpy as np
from sqlalchemy import create_engine
import psycopg2
from flask import jsonify

engine = create_engine('postgres://postgres:oklahoma@localhost:5432/Superstore')
connection = engine.connect()

In [8]:
import pandas as pd
shipprofit = pd.read_sql('select left(cast("Ship Date" as text),7) as SHIP_YYYY_MM, sum("Profit") as PROFIT from orders group by 1 order by left(cast("Ship Date" as text),7)',engine)
#shipprofit = shipprofit.set_index('ship_yyyy_mm')
shipprofit = shipprofit.values.tolist()
shipprofit

[['2014-01', 2424.1125],
 ['2014-02', 866.1925],
 ['2014-03', 123.412199999998],
 ['2014-04', 3313.2568],
 ['2014-05', 2636.2171],
 ['2014-06', 5316.866],
 ['2014-07', -1047.8993],
 ['2014-08', 6161.5346],
 ['2014-09', 6835.8856],
 ['2014-10', 4567.7754],
 ['2014-11', 9415.3468],
 ['2014-12', 6680.0253],
 ['2015-01', -1455.5695],
 ['2015-02', 3158.6857],
 ['2015-03', 9762.9141],
 ['2015-04', 1558.4],
 ['2015-05', 5562.9605],
 ['2015-06', 5222.5484],
 ['2015-07', 2940.2336],
 ['2015-08', 3650.4602],
 ['2015-09', 8713.5774],
 ['2015-10', 3601.8],
 ['2015-11', 12362.3376],
 ['2015-12', 7803.1819],
 ['2016-01', 3445.7653],
 ['2016-02', 5274.3035],
 ['2016-03', 3718.0314],
 ['2016-04', 2831.8084],
 ['2016-05', 6356.6381],
 ['2016-06', 6663.7107],
 ['2016-07', 4801.1517],
 ['2016-08', 2076.1467],
 ['2016-09', 9359.32309999999],
 ['2016-10', 15629.3249],
 ['2016-11', 11669.3287],
 ['2016-12', 11115.5692],
 ['2017-01', 6359.2081],
 ['2017-02', 2058.036],
 ['2017-03', 13157.4265],
 ['2017-04', 2678.0235],
 ['2017-05', 5910.0197],
 ['2017-06', 7195.1466],
 ['2017-07', 6639.3986],
 ['2017-08', 10155.059],
 ['2017-09', 11237.4753],
 ['2017-10', 8825.8434],
 ['2017-11', 8689.7765],
 ['2017-12', 9441.46199999999],
 ['2018-01', 934.7894]]